[Desktop Entry]
Name=Skakavi Krompir
Exec=skakavi-krompir
Icon=io.github.Pavle012.Skakavi-krompir
Type=Application
Terminal=false
Categories=Game;ArcadeGame;
