name: Build game on release tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-22.04]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: pip install pygame nuitka requests Pillow customtkinter

      - name: Build with Nuitka on Windows
        if: runner.os == 'Windows'
        run: python -m nuitka --onefile --output-dir=dist --windows-icon-from-ico=assets/potato.ico --include-data-dir=assets=assets main.py

      - name: Build with Nuitka on Linux
        if: runner.os == 'Linux'
        run: python -m nuitka --onefile --output-dir=dist --include-data-dir=assets=assets main.py

      - uses: actions/upload-artifact@v4
        with:
          name: game-${{ matrix.os }}
          path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get tag message
        id: get_tag_message
        run: echo "message=$(git tag -l --format='%(contents:subject)' ${{ github.ref }})" >> $GITHUB_OUTPUT
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.get_tag_message.outputs.message }}
          files: |
            dist/game-windows-latest/*
            dist/game-ubuntu-latest/*
