name: Build alpha

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: pip install pygame pyinstaller requests Pillow customtkinter

      - run: pyinstaller --onefile main.py

      - uses: actions/upload-artifact@v4
        with:
          name: game-${{ matrix.os }}
          path: dist/*
