name: Build game on release tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-22.04]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.cache/Nuitka
            C:\Users\runneradmin\AppData\Local\pip\Cache
            C:\Users\runneradmin\AppData\Local\Nuitka\Cache
          key: ${{ runner.os }}-nuitka-${{ hashFiles('requirements.txt') }}

      - run: pip install -r requirements.txt

      - name: Build with Nuitka on Windows
        if: runner.os == 'Windows'
        run: python -m nuitka --onefile --jobs=%NUMBER_OF_PROCESSORS% --lto=no --debug=no --python-flag=no_docstrings --output-dir=dist --output-filename="Skakavi-Krompir-Windows" --windows-icon-from-ico=assets/potato.ico --include-data-dir=assets=assets --assume-yes-for-downloads --enable-plugin=tk-inter main.py

      - name: Build with Nuitka on Linux
        if: runner.os == 'Linux'
        run: python -m nuitka --onefile --jobs=$(nproc) --debug=no --python-flag=no_docstrings --output-dir=dist --output-filename="Skakavi-Krompir-Linux" --include-data-dir=assets=assets --enable-plugin=tk-inter main.py

      - uses: actions/upload-artifact@v4
        with:
          name: game-${{ matrix.os }}
          path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get tag message
        id: get_tag_message
        run: echo "message=$(git tag -l --format='%(contents:subject)' ${{ github.ref }})" >> $GITHUB_OUTPUT

      - uses: actions/download-artifact@v4
        with:
          path: dist

      - uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.get_tag_message.outputs.message }}
          files: |
            dist/game-windows-latest/*
            dist/game-ubuntu-22.04/*
